#root {
position: relative;
 font-family: 'Inter', 'Trebuchet Ms';
  /* height: max-content; */
  transition: 0.5s ease;
  background-color: #d6d0d0;
  height: max-content;
}

.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 20px ;
  align-items: center;
  box-shadow: 0px 0px 10px #67700d;
  color: black;
  font-size: 24px;
}
.header-logo{
  height: 40px;
  margin-right: 10px;

}
.header-left, .header-right{
  align-items: center;
  display: flex;
  font-weight: 700;
}
.header-right{
  margin-right: 2%;
}
.header-title{
  margin-right: 10px;
}
.header-project{
  font-weight: 600;
  margin-right: 30px;
}


  .meme{
    padding: 36px;
    padding-top: 70px;
    height: 75vh;
  }

.form{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  }
  .form-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-input{
  border: 1px solid silver;
  text-indent: 5px;
  text-transform: uppercase;
  border: 2px solid #094712;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  }
  .form-input.left{
    margin-right: 100px;
  }

  
  .meme-image-container{
    position: relative;
  text-align: center;
  font-size: 50px;
  font-family:'Franklin Gothic Medium';
  font-weight: 700;
  color: rgb(45, 243, 121);
  margin-bottom: 20px;
}
.meme-image {
  border-radius: 3px;
  width: 1000px;
  height: 350px;
  position: relative;
}

.meme-top-text, .meme-bottom-text {
  position: absolute;
  left: 0;
  right: 0;
  text-transform: uppercase;

}
.meme-top-text{
  top: 15px;
}
.meme-bottom-text{
  bottom: -20px;
}
.save{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;

}
.form-button{
  transition: .2s ease-in-out;
  background-color: black;  color: #fff;
  border-radius: 10px;
  border: 1px dashed transparent;
  /* font-weight: 700; */
  /* height: 60px; */
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  }
  
.form-button:hover{
  color:#094712;
  background: transparent ;
  border: 1px solid  #b7c60f;

}
.save-image {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  text-transform: uppercase;
  font-weight: 700;
  background: green;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  
  
}
.save-image:hover{
  background: #b7c60f;
  border: 1px dashed #094712;
}
.save-image-img{
  width: 40px;
  margin-right: 5px;
}




.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 15px;
  border-top: 1px solid  #b7c60f ;
  border-radius: 3px;
  width: 100%;
  left: 0; 
  bottom: 0;
  text-align: center;
  color: rgb(52, 48, 48);
  font-size: 20px;
  font-weight: bold;
  transition: 1.0s ease;
  letter-spacing: 3px;
  
  }
  
  .footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .footer-logo {
      width: 40px;
      margin: 0 30px ;
      transition: 1.0s ease;
      margin-bottom: 7px;
      
      }
      
      .footer-logo:hover{
        filter: drop-shadow(0 0 20px rgb(24, 98, 11) );
        transform: rotateY(360deg);
        }
        
        @keyframes rotate {
          to{ transform: rotate(360deg);}
          }


          @media(max-width: 1500px){
      
           
          }
          
            @media (max-width: 1000px ) {
      
              .meme{
                /* margin-top: 10%; */
                margin: 20px;
                height: 750px;
              
              }
              .form{
                gap : 20px;
                
              }
              .meme-image-container{
                font-size: 25px;
                margin-bottom: 50px;
              }
              .meme-image{
                margin-top: 20px;
                width: 100%;
              }
   
              .form-button{
                height: auto;
              }

            .footer-logo{
              width: 40px;
              margin: 0 25px ;
            }

          }
              
              @media (max-width:700px){
                .header{
                  font-size: 20px;
                }
                .form-input{
                  width: 250px
                }
                .form-input.left{
                  margin-right: 50px;
                }
                .footer-logo{
                  width: 30px;
                }        
                .footer{
                  font-size: 15px;
                }

              }
              
              
              
           
            
            @media (max-width: 500px){
              .header{
                font-size: 18px;
                padding: 20px 10px;
              }
              .header-title{
                font-size: 16px;
              }
              .header-logo{
                height: 35px
              }
              .header-right{
                margin-right: 5px;
              }
              .form-text{
                flex-direction: column;
              }
              .form-input.left{
                margin-bottom: 30px;
                margin-right: 0;
              }

              .form{
                margin-bottom: 20px;
              }
              .save{
                font-size: 14px;
              }
              .form-button{
                width: 150px;
                font-size: 14px;
              }
              .save-image-img{
                width: 25px;
              }
              .footer{
                /* position: fixed; */
                font-size: 13px;
              }                 
              .footer-logo{
                width: 30px;
                margin: 0 20px;
                padding-bottom: 5px;
              }        

            }  

              @media only screen and (min-width : 320px) and (max-width:480px) {
                #root {
                  overflow-x: hidden;
                  /* width: 100%; */
                }
                .container{
                  width: 100%;

                }
                .meme{
                  height: 69vh;

                }
                .header-logo.right{
                    margin-left: 10px;
                    height: 35px;
                }
                .header-logo.left{
                  margin-right: 3px;
                  height: 30px;
                }
                .header-right{
                  margin-left: -80px;
                  font-size: 14px;
                  /* background: red; */
                }
                .header-project{
                  margin-left: 0;
                  margin-right: 20px;
                }
                .header
                .header-title {
                  width: 80px;
                  margin-right: 0;
                  padding: 2px;
                }
              }


              /*

                .state{
                  
                display: flex;
  flex-direction: column;
  align-items: center;
}
.state-value{
  text-align: center;
  border-radius: 60%;
  width: 80px;
  padding: 10px;
  color: #672280;
  background-color: #fe395c;
}


.count {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.plus, .minus, .counter {
  margin: -10px;
  border-radius: 60%;
  text-align: center;
  width: 80px;
  padding: 15px;
  background-color: red;
}
.plus, .minus {
  align-self: flex-end;
  z-index: 1;
  padding: 12px;
  width: 40px;
  font-size: 16px;
  background-color: rgb(10, 36, 112);
  justify-content: baseline;
}


.contact-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 10px;
  
}
.contact-card > img {
  height: 200px;
  padding: 5px 10px;
  border: 1px solid #fe395c;
  border-radius: 10px ;
}
.contact-card > h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}



.info-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 2px;

}

.info-group > img {
  height: 25px;
  margin-right: 4px;
}

.star {
  height: 14px;
  cursor: pointer;
}

.boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.box{
  width: 100px;
  height: 100px;
  border: 5px solid black;
  margin-right: 30px;
  border-radius: 7px;
  
}


.jokes{
  padding: 0;
  
}
.setup{
  background-color: #918E9B;
  padding: 20px;
  margin-bottom: 0;
}

.punchline{
  background-color: rgba(51, 49, 57, 0.7);
  padding: 20px;
}
*/