#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  background-color: #fff; 
  /* background-color: #21222A; */
position: relative;
 font-family: sans-serif ;
 font-family: 'Inter';

 /* margin: 0; */
  /* text-align: center; */
  height: max-content;
  /* min-width: 800px; */
}

.header{
  background-color: #fe395c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  /* position: sticky; */
  top: 0;
  right: 0;
  
}
.header-icon{
  margin-right: 10px ;
  
}

  
  .travel{
    display: flex;
    justify-content: space-around;
    margin: 90px;
    align-items: center;
    font-size: 20px;
    /* height: 100%; */
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(145, 142, 155,0.25);
  }
  .travel-image{
    height: 400px;
    margin-right: 10px;
  }
  .travel-info{
    margin-left: 30px;
    max-height: 400px;
    margin-top: 10px;
  }
  .travel-location {
    display: flex;
    align-items: center;
  }
  .travel-location-name{
    margin-right: 20px;
  }
  .location-tag { 
    height: 24px;
  }

  .travel-title{
    /* margin-top: 20px; */
    /* padding: 10px; */
    font-weight: 700;
    font-family: 'Inter';
    font-size: 40px;
  }
  
  .travel-description{
      max-width: 50%;
      
  }
  .link-google{
    color:#918E9B
  }

  @media (max-width: 1000px ) {
    #root{
      max-height: max-content;
    }
    .travel{
      font-size: 14px;
      margin: 40px;
    
    }
    .travel-image{
      height: 250px;
    }
    .travel-info{
      position: relative;
      margin-top: 20px;
      height: max-content;
      line-height: 12px;
    }
    .travel-description{
      max-width: 450px;
      line-height: 150%;
    }
    .travel-title{
      font-size : 30px;
      text-overflow: ellipsis;
      text-wrap: wrap;
    }
     
  }

.footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid  ;
  border-radius: 3px;
  position: relative;
  width: 100%;
  left: 0; 
  bottom: -50px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  color: #fe395c;
}


.footer{
  animation: 1.0s forwards;
}

.footer-logo {
  width: 40px;
  margin: 0 30px 3px 0;

}

.footer-logo:hover{
  filter: drop-shadow(0 0 15px #fe395c );
  animation: rotate 0.5s linear  infinite  ;
}

@keyframes rotate {
  to{ transform: rotate(360deg);}
}





.contacts{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.contact-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* align-items: center; */
  flex-wrap: wrap;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 10px;

}
.contact-card > img {
  height: 200px;
  padding: 5px 10px;
  border: 1px solid #fe395c;
  border-radius: 10px ;
}
.contact-card > h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}


.info-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 2px;

}

.info-group > img {
  height: 25px;
  margin-right: 4px;
}


.jokes{
  padding: 0;
  /* line-height: 10px; */
  
}
.setup{
  background-color: #918E9B;
  padding: 20px;
  margin-bottom: 0;
}

.punchline{
  background-color: rgba(51, 49, 57, 0.7);
  padding: 20px;
}

.main{
  transform: rotate(90deg);
  height: 40px;
  margin: auto;
  z-index: 1;
}

.battery-top {
  width: 30px;
  height: 10px;
  background: black;
  margin: 0 auto;
  border: 3px solid silver;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.battery-content{
  width: 50px;
  height: 100px;
  background: black;
  position: relative;
  /* margin: 0 auto; */
  border: 3px solid silver;
  border-radius: 18px;
  padding: 0;
}

.charge {
  align-self: center;
  width: 100%;
  position: absolute;
  bottom: 0 ;
  border-radius: 14px;
  animation: battery 3s linear infinite  ;
}


@keyframes battery {
  0% {
      height: 0%;
      background: red;
  }
  25% {
      height: 25%;
      background: orange;
  }
      50% {
      height: 50%;
      background: yellow;
  }
      75% {
      height: 75%;
      background: #d7fc83;
  }
  100% {
      height: 100%;
      background: rgb(0, 255, 0);
  }
}

