#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* background-color: #fff;  */
  /* background-color: #21222A; */
position: relative;
 font-family: sans-serif ;
 font-family: 'Inter';
/* background: linear-gradient(to right, #9cd0ccc7, #807822) ; */
 /* margin: 0; */
  /* text-align: center; */
  height: max-content;
  /* min-width: 800px; */
  transition: 0.5s ease;
}

.header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  padding: 20px ;
  align-items: center;
  box-shadow: 0px 0px 10px #094712;
  /* background: linear-gradient( to right, #672280, #A626D3); */
  /* background: linear-gradient( to right, #0b0985, #094712); */

  color: white;
}
.header-logo{
  height: 40px;
  margin-right: 10px;
  /* width: 176px; */
}
.header div{
  display: flex;
  font-size: 20px ;
  align-items: center;
}
.header-title{
  font-size: 20px ;
  margin-right: 10px;
}
.header-project{
  font-weight: 600;
  margin-right: 30px;
}


  .meme{
    padding: 36px;
    align-items: center;
  margin: 50px;
  margin-top: 40px;
  }

.form{
  
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  /* gap: 20px; */
  gap: 40px;
  }
  
  .form-button{
    grid-column: 1 / -1;
    background: linear-gradient( to right, rgb(8, 7, 62), #094712db);
  /* background: linear-gradient( to right, rgb(11, 9, 133), #094712); */
    transition: 0.5s ease;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 50px;
    }
    
.form-button:hover{
  color:#fff;
  background: transparent ;
  /* background: rgb(11, 9, 133); */
  border: 1px solid  #b7c60f;
  
  }
  
  .form-input{
  border: 1px solid silver;
  text-indent: 5px;
  text-transform: uppercase;
  border: 2px solid #094712;
  border-radius: 5px;
  }
    
.meme-image-container{
  position: relative;
  /* align-self: center; */
  text-align: center;
  font-size: 50px;
  font-family:'Franklin Gothic Medium';
  font-weight: 700;
  color: white;
}
.meme-image {
  margin-top: 40px;
  border-radius: 5px;
  width: 100%;
  width: 80%;
}

.meme-top-text, .meme-bottom-text {
  position: absolute;
  left: 0;
  right: 0;
  text-transform: uppercase;

}
.meme-top-text{
  top: 0;
}
.meme-bottom-text{
  bottom: 0;
}




.footer {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* background-color: #fff; */
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid  #094712 ;
  border-radius: 3px;
  position: relative;
  width: 100%;
  left: 0; 
  bottom: 0;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  transition: 1.0s ease;
  
  }
  
  .footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer{
    animation: 1.0s forwards;
    }
    .react {
      margin-left: 20px;
    }
    
    .footer-logo, .footer-react, .footer-vite {
      width: 40px;
      margin: 0 50px 3px 0;
      transition: 1.0s ease;
      
      }

      .footer-react {
        margin-left: 10%;
        animation: rotate 2.5s linear  infinite  ;
        
      }
      .footer-vite{
        margin-right: 10%;
      }
      .footer-react:hover, .footer-vite:hover{
        filter: drop-shadow(0 0 30px rgb(11,9,133) );
      }
      
      .footer-logo:hover{
        filter: drop-shadow(0 0 20px rgb(11,9,133) );
        transform: rotateY(360deg);
        }
        
        @keyframes rotate {
          to{ transform: rotate(360deg);}
          }


          @media(max-width: 1500px){
            #root{
              height: 100vh;
            }
           
          }
          
            @media (max-width: 1000px ) {
              #root{
                
                height: max-content;
              }
              .meme{
                margin: auto;
                margin-top: 10%;}
              .form{
                gap : 20px
              }
              .meme-image-container{
                font-size: 25px;
              }
              .meme-image{
                margin-top: 20px;
                width: 100%;
              }
   
              .form-button{
                height: auto;
              }
            .footer-logo{
              width: 40px;
              margin: 0 40px 3px 0;
            }

          }
              
              @media (max-width:700px){
           
                /* .footer{position: fixed;} */
                .footer-logo{
                  width: 30px;
                  margin: 0 30px 3px 0;
                }        
                .footer{
                  font-size: 15px;
                }

              }
              
              
              
           
            
            @media (max-width: 500px){
        
              .footer{
                /* position: fixed; */
                font-size: 15px;
              }                 
              .footer-logo{
                width: 30px;
                margin: 0 30px 3px 0;
              }        

            }  

              @media only screen and (min-width : 320px) and (max-width:480px) {
                #root {
                  overflow-x: hidden;
                  /* width: 100%; */
                }
                .container{
                  width: 100%;
                }
                
              }
.state{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.state-value{
  text-align: center;
  border-radius: 60%;
  width: 80px;
  padding: 10px;
  color: #672280;
  background-color: #fe395c;
}


.count {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* align-items:end; */
  margin: 20px;
}

.plus, .minus, .counter {
  margin: -10px;
  border-radius: 60%;
  text-align: center;
  width: 80px;
  padding: 15px;
  background-color: red;
}
.plus, .minus {
  align-self: flex-end;
  z-index: 1;
  /* margin: 0; */
  padding: 12px;
  width: 40px;
  font-size: 16px;
  background-color: rgb(10, 36, 112);
  /* align-self: baseline; */
  justify-content: baseline;
}


.contact-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* align-items: center; */
  flex-wrap: wrap;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 10px;

}
.contact-card > img {
  height: 200px;
  padding: 5px 10px;
  border: 1px solid #fe395c;
  border-radius: 10px ;
}
.contact-card > h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}



.info-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 2px;

}

.info-group > img {
  height: 25px;
  margin-right: 4px;
}

.star {
  height: 14px;
  cursor: pointer;
}

.boxes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.box{
  /* display: block; */
  width: 100px;
  height: 100px;
  border: 5px solid black;
  margin-right: 30px;
  border-radius: 7px;

}


.jokes{
  padding: 0;
  /* line-height: 10px; */
  
}
.setup{
  background-color: #918E9B;
  padding: 20px;
  margin-bottom: 0;
}

.punchline{
  background-color: rgba(51, 49, 57, 0.7);
  padding: 20px;
}